{% extends 'base.html' %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 col-lg-4">
            <aside class="pt-3 pb-4 px-4 mb-5 card">
                <h1 class="h4 pt-2 pb-2">Моя компания</h1>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link {{ nl_company_info_active|default:"" }}" href="{% url 'my-company-info' %}">
                        1. Информация о&nbsp;компании
                    </a>

                    <a class="nav-link {{ nl_vacancy_active|default:"" }}" href="{% url 'my-company-vacancies' %}">
                        2. Вакансии
                    </a>
                </div>
            </aside>
        </div>

        <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-body px-4 pb-4">
                        {% block my_company_content %}

                        {% endblock %}
                    </div>
                </div>
        </div>
    </div>
{% endblock %}