{% extends 'base.html' %}

{% block content %}
    <div class="row mt-5">
        {% include 'my_company/includes/aside.html' with nl_vacancy_active="active" %}

        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body px-4 pb-4">
                    <section class="tab-pane fade show active">
                        <h2 class="h4 pt-2 pb-3">Вакансии</h2>

                        {% for vacancy in company.vacancies.all %}
                            <div class="card mt-3">
                                <div class="card-body px-4">
                                    <div class="row align-items-center">
                                        <div class="col-6 col-lg-8">
                                            <a href="{{ vacancy.get_url }}" class="mb-1">
                                                {{ vacancy.title }}
                                            </a>

                                            <p class="mb-1">
                                                {% if vacancy.salary_min %}от {{ vacancy.salary_min }}{% endif %}
                                                {% if vacancy.salary_max %}до {{ vacancy.salary_max }}{% endif %}

                                                {% if vacancy.salary_min or vacancy.salary_max %}
                                                    ₽
                                                {% else %}
                                                    Не указано
                                                {% endif %}
                                            </p>
                                        </div>

                                        <div class="col-6 col-lg-4 text-right">
                                            <a href="{% url 'vacancy-update' vacancy_id=vacancy.pk %}"
                                               class="btn btn-outline-info">
                                                Изменить
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="card mt-3">
                            <a href="{% url 'vacancy-create' %}" class="btn btn-info mb-8">Добавить вакансию</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
