{% extends 'base.html' %}

{% block content %}
    <div class="row mt-5">
        {% include 'my_company/includes/aside.html' %}

        <section>
            <h2 class="h4 pt-2 pb-3">{{ form.title.value|default_if_none:"Новая вакансия" }}</h2>

            {% if is_success_created %}
                <p class="alert alert-info" role="alert">Информация о вакансии сохранена</p>
            {% elif is_success_updated %}
                <p class="alert alert-info" role="alert">Информация о вакансии обновлена</p>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group pb-2">
                            <label class="mb-2 text-dark" for="title">Название вакансии</label>
                            <input class="form-control"
                                   type="text"
                                   value="{{ form.title.value|default_if_none:"" }}"
                                   id="title"
                                   name="title">
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-group pb-2">
                            <label class="mb-2 text-dark" for="specialty">Специализация</label>
                            <select class="custom-select mr-sm-2" id="specialty" name="specialty">
                                {% for specialty in specialties %}
                                    <option value="{{ specialty.pk }}"
                                            {% if form.specialty.value|default_if_none:"" == specialty.pk %}
                                                selected
                                            {% endif %}
                                    >
                                        {{ specialty.title }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group pb-2">
                            <label class="mb-2 text-dark" for="salary_min">Зарплата от</label>
                            <input class="form-control"
                                   type="text"
                                   value="{{ form.salary_min.value|default_if_none:"" }}"
                                   id="salary_min"
                                   name="salary_min">
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-group pb-2">
                            <label class="mb-2" for="salary_max">Зарплата до</label>
                            <input class="form-control"
                                   type="text"
                                   value="{{ form.salary_max.value|default_if_none:"" }}"
                                   id="salary_max"
                                   name="salary_max">
                        </div>
                    </div>
                </div>

                <div class="form-group pb-2">
                    <label class="mb-2 text-dark" for="skills">Требуемые навыки</label>
                    <textarea class="form-control"
                              rows="3"
                              id="skills"
                              name="skills"
                              style="color:#000;">{{ form.skills.value|default_if_none:"" }}</textarea>
                </div>

                <div class="form-group pb-2">
                    <label class="mb-2 text-dark" for="description">Описание вакансии</label>
                    <textarea
                            class="form-control"
                            rows="9"
                            id="description"
                            name="description"
                            style="color:#000;">{{ form.description.value|default_if_none:"" }}</textarea>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Сохранить">
                </div>

                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <p>Обнаружены следующие ошибки:</p>
                        {{ form.errors }}
                    </div>
                {% endif %}
            </form>
        </section>
    </div>
{% endblock %}