{% extends 'base.html' %}

{% block content %}
    <div class="navbar mt-5">
        <p><a href="{{ previous_url }}">Назад</a></p>
    </div>

    <section>
        <div class="text-center">
            <img src="{{ company.logo.url }}" width="130" height="80" alt="">
        </div>

        <h1 class="h1 text-center mx-auto mt-0 pt-1" style="font-size: 70px;">
            <strong>{{ company.name }}</strong>
        </h1>

        <p class="text-center pt-1">Компания, 5 вакансий</p>

        <div class="row mt-5">
            <div class="col-12 col-lg-8 offset-lg-2 m-auto">
                <div class="card mb-4">
                    <div class="card-body px-4">
                        {% for vacancy in company.vacancies.all %}
                            <div class="row">{% include 'includes/vacancy_short_card.html' %}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}